#content .wcs-schedule-table,
#wcs-container .wcs-schedule-table {
	font-size: 12px;
}
#content .wcs-schedule-table td,
#content .wcs-schedule-table th,
#wcs-container .wcs-schedule-table td,
#wcs-container .wcs-schedule-table th {
	width: 12.5%;
	padding: 0;
	border-right: 1px solid #ddd;
}
#content .wcs-schedule-table th.weekday-label,
#wcs-container .wcs-schedule-table th.weekday-label {
	padding-left: 10px;
}
#content .wcs-schedule-table tr:nth-child(even),
#wcs-container .wcs-schedule-table tr:nth-child(even) {
	background: #eee;
}
#content .class-box,
#wcs-container .class-box {
	min-height: 40px;
	overflow: hidden;
	padding: 6px 10px;
}
#content .class-info,
#wcs-container .class-info {
	display: none;
	z-index: 500;
	position: absolute;
	background: #fdd;
	padding: 6px 10px;
	border: 1px solid #ddd;
	margin: -1px 0 0 -1px;
	width: 200px;
}
#content .active-box-container,
#wcs-container .active-box-container  {
	position: relative;
} 
.friday-column .active-box-container .class-info,
.saturday-column .active-box-container .class-info {
	right: 0;
	margin: -1px -1px 0 0;
	padding: 0;
}
#content .class-box:hover,
#wcs-container .class-box:hover {
	cursor: help;
}
.widget_wcs_day_widget a,
#content .class-info a,
#wcs-container .class-info a {
	cursor: pointer;
	color: #1982D1;
	text-decoration: none;
} 
td.hour-label {
	vertical-align: middle;
}
.hour-label {
	text-align: center;
}
#content .active-box,
#wcs-container .active-box  {
	background: #dfd;
}
.notes {
	font-size: 11px;
	font-style: italic;
}
.notes-container {
	font-size: 11px;
	line-height: 1;
	width: 200px;
}

/* IE7 Fix */
.friday-column .ie-container .active-box-container .class-info,
.saturday-column .ie-container .active-box-container .class-info {
	left: 0;
	margin: -1px -1px 0 0;
}